@import 'utils/mixins.scss';
@import 'utils/variables';
@import 'base/title';
@import 'base/text';
@import 'base/base';

@font-face {
    font-family: "NeueHansKendrick";
    src: url("/assets/fonts/NeueHansKendrick-Regular.eot");
    src:
        url("/assets/fonts/NeueHansKendrick-Regular.woff") format("woff"),
        url("/assets/fonts/NeueHansKendrick-Regular.otf") format("opentype"),
        url("/assets/fonts/NeueHansKendrick-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "NeueHansKendrickMedium";
    src: url("/assets/fonts/NeueHansKendrick-Medium.eot");
    src:
        url("/assets/fonts/NeueHansKendrick-Medium.woff") format("woff"),
        url("/assets/fonts/NeueHansKendrick-Medium.otf") format("opentype"),
        url("/assets/fonts/NeueHansKendrick-Medium.woff2") format("woff2"),
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "NeueHansKendrick";
    font-weight: normal;
    font-style: normal;
    background: #ededed;
    color: #131313;
}

* {
    font-family: "NeueHansKendrickMedium";
    font-weight: normal;
    font-style: normal;
}

.burger {
    position: absolute;
    top: 35px;
    left: 55px;
    width: 40px;
    height: 25px;
    transition: .2s;
    z-index: 9999999;

    & span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        left: 0;
        transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    }

    & span:nth-child(1) {
        width: 80%;
        top: 0;
    }

    & span:nth-child(2) {
        top: calc(50% - 1px);
    }

    & span:nth-child(3) {
        bottom: 0;
    }

    &.active {
        transform: rotate(90deg);

        & span:nth-child(1) {
            top: calc(50% - 1px);
            width: 100%;
            transform: rotate(45deg);
        }

        & span:nth-child(2) {
            opacity: 0;
        }

        & span:nth-child(3) {
            bottom: calc(50% - 1px);
            transform: rotate(-45deg);
        }
    }
}

.burger--white {
    & span {
        background: #fff;
    }
}

.hero {
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.list__item {
    list-style-type: none;
    font-size: 24px;
    padding: 3px 0;
}

.menu__item {
    list-style-type: none;
    padding: 3px 0;
}

.navbar {
    &__list {
        margin: 0;
        padding: 0;
    }

    top:150px;
    left:55px;
    position: absolute;
    z-index: 99;
    color: #fff;
}

.menu {
    z-index: 1;
    transition: visibility .5s,
        opacity .5s linear;
    opacity: 1;
    visibility: hidden;
    display: none;
    background: #ededed;
    padding: 100px 0 20px 0;
    justify-content: space-around;

    @include phone {
        flex-direction: column;
    }
}

.menu__left,
.menu__right {
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;

    @include phone {
        width: 100%;
        flex-direction: column;
    }
}

@include phone {

    .menu__currency,
    .menu__language {
        padding: 10px 0 0 40px;
    }
}

.none__menu {
    visibility: visible;
    display: flex;
    opacity: 1;
    /*dodatkowe */
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    right: 50px;
    left: 0;
    top: 25px;
    overflow: hidden;
    position: absolute;
    z-index: 99;

    & svg {
        width: 100px;
    }

    height:50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.text--column {
    margin: 2em 0;
}

.display__none {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10%;

    @include tablet {
        padding: 5% 5%;
    }

    &__column {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10%;

        @include small-tablet {
            flex-direction: column;
            /*ładnie wyglada nawet w row*/
        }

        &--second {
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 5%;

            @include small-tablet {
                flex-direction: column;
            }
        }

        .column__header,
        .column__description {
            width: 30%;

            @include small-tablet {
                width: 100%;
            }
        }
    }
}

.column {
    &__header {
        margin: 15px 0;
    }

    &__left {
        width: 30%;
        height: 100%;

        @include small-tablet {
            align-self: flex-start;
            width: 80%;
        }

        .left__photo {
            width: 100%;
            height: 70%;
        }
    }

    &__right {
        padding-top: 70px;
        width: 60%;
        height: 100%;

        @include small-tablet {
            align-self: flex-end;
            width: 90%;
        }

        .right__photo {
            height: 60%;
            width: 100%;
        }
    }
}

/*faq*/
.content__faq {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;

    @include small-tablet {
        flex-direction: column;
        width: 100%
    }
}

.content__column--text {
    flex-direction: column;
    width: 40%;

    @include small-tablet {
        width: 90%;
    }

    margin-top:3%;
}

.content__title {
    margin-left: 14%;
    margin-top: 100px;

    @include small-tablet {
        margin-left: 10%;
    }
}

.logo__invert {
    filter: invert(1);
}

.title--h3 {
    font-size: 20px;
}

.checked {
    visibility: hidden;
    display: none;
}

.checked+label {
    color: gray;
}

.checked:checked+label {
    color: #000;
}

/*logging site */
.basket {
    margin: 35px 0 0 160px;

    @include phone {
        margin-top: 70px;
    }
}

.login {
    margin: 0 auto;
    width: 35%;
    margin-top: 100px;

    @include tablet {
        width: 60%;
    }

    @include phone {
        width: 80%;
    }

    &__header {
        opacity: 0.2;
    }

    p {
        & input {
            @include input-styling;
            height: 35px;
            width: 100%;
            border-bottom: 1px solid #000;
            opacity: 0.6;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            border-bottom: 1px solid #000;
            -webkit-text-fill-color: none;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    .submit {
        font-weight: 600;
        border: 0;
        @include input-styling;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            color: #000;
        }
    }

    .reminder {
        margin: 20px 0;
        font-size: 12px;
    }

    .sign-up {
        margin: 50px 0;

        & span:first-of-type {
            font-family: "NeueHansKendrick";
        }
    }
}