@import 'utils/mixins.scss';
@import 'utils/variables';
@import 'base/title';
@import 'base/text';
@import 'base/base';

@font-face {
    font-family: "NeueHansKendrick";
    src: url("/assets/fonts/NeueHansKendrick-Regular.eot");
    src:
        url("/assets/fonts/NeueHansKendrick-Regular.woff") format("woff"),
        url("/assets/fonts/NeueHansKendrick-Regular.otf") format("opentype"),
        url("/assets/fonts/NeueHansKendrick-Regular.woff2") format("woff2"),
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "NeueHansKendrick";
    font-weight: normal;
    font-style: normal;
    background: #ededed;
    color: #131313;
}

.burger {
    position: absolute;
    top: 2%;
    left: 55px;
    width: 40px;
    height: 25px;
    transition: .2s;
    z-index: 9999999;

    & span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        left: 0;
        transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    }

    & span:nth-child(1) {
        width: 80%;
        top: 0;
    }

    & span:nth-child(2) {
        top: calc(50% - 1px);
    }

    & span:nth-child(3) {
        bottom: 0;
    }

    &.active {
        transform: rotate(90deg);

        & span:nth-child(1) {
            top: calc(50% - 1px);
            width: 100%;
            transform: rotate(45deg);
        }

        & span:nth-child(2) {
            opacity: 0;
        }

        & span:nth-child(3) {
            bottom: calc(50% - 1px);
            transform: rotate(-45deg);
        }
    }
}

.burger--white {
    & span {
        background: #fff;
    }
}

.hero {
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.list__item {
    list-style-type: none;
    font-size: 24px;
    padding: 3px 0;
}

.navbar {
    &__list {
        margin: 0;
        padding: 0;
    }

    top:150px;
    left:55px;
    position: absolute;
    z-index: 99;
    color:#000;
    opacity:0;
    visibility: hidden;
    transition: visibility .3s,
    opacity .3s linear;

    &--white {
        color: #fff;
    }
}

.none__navbar {
    visibility: visible;
    opacity: 1;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    right: 50px;
    left: 0;
    top: 2%;
    overflow: hidden;
    position: absolute;

    & svg {
        width: 100px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.text--column {
    margin: 2em 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10%;

    @include tablet {
        padding: 5% 5%;
    }

    &__column {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10%;

        @include small-tablet {
            flex-direction: column;
            /*ładnie wyglada nawet w row*/
        }

        &--second {
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 5%;

            @include small-tablet {
                flex-direction: column;
            }
        }

        .column__header,
        .column__description {
            width: 30%;

            @include small-tablet {
                width: 100%;
            }
        }
    }
}

.column {
    &__header {
        margin: 15px 0;
    }

    &__left {
        width: 30%;
        height: 100%;

        @include small-tablet {
            align-self: flex-start;
            width: 80%;
        }

        .left__photo {
            width: 100%;
            height: 70%;
        }
    }

    &__right {
        padding-top: 70px;
        width: 60%;
        height: 100%;

        @include small-tablet {
            align-self: flex-end;
            width: 90%;
        }

        .right__photo {
            height: 60%;
            width: 100%;
        }
    }
}


/*faq*/
.content__faq {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;

    @include small-tablet {
        flex-direction: column;
        width: 100%
    }
}

.content__column--text {
    flex-direction: column;
    width: 40%;

    @include small-tablet {
        width: 90%;
    }

    margin-top:3%;
}
.content__title{
    margin-left:14%;
    margin-top:100px;
    @include small-tablet{
        margin-left:10%;
    }
}
.content__margin {
    margin-top: calc(100vh - 350px);
}