.informations {
    text-align: center;

    &__columns {
        display: flex;
        padding: 0 10%;
        text-align: left;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__column {
        width: 30%;

        @include tablet {
            width: 40%;
        }

        @include phone {
            width: 80%;
        }
    }

    margin-bottom: 50px;
}