
.investment {
    @include marmur-bg;
    margin: -20px 10% 150px 10%;
    z-index: 0;

    @include desktop {
        margin: -20px 5% 150px 5%;
        margin-bottom: 150px;
    }

    @include tablet {
        margin: 0 5% 150px;
    }

    &__header {
        text-align: center;
        padding: 10%;
    }

    &__description {
        margin-top: 5%;
        width: 50%;

        @include tablet {
            width: 100%;
        }
    }

    &__column {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: -150px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            text-align: justify;
            padding: 0 5%;
        }
    }

    &__photo {
        @include tablet {
            width: 80%;
            margin-left: 0;
        }

        width:40%;
        margin-left: -10%;

        & img {
            width: 100%;
        }
    }
}