.photo {
    height: 40vw;

    @include small-tablet {
        height: 60vw;
    }

    & img {
        width: 100%;
        height: 100%;
    }

    &__grey {
        background-image: url('/assets/images/grey-bg.jpg');
        background-size: cover;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__text {
        padding: 0 20%;

        @include tablet {
            padding: 0 10%;
        }

        font-size: 24px;
        color: #fff;
        text-align: center;

        @include small-tablet {
            font-size: 16px;
        }
    }
}
