
.social__svg {
    height: 20px;
    fill: #bfbfbf;
}

.google:hover {
    fill: #d34836;
}

.facebook:hover {
    fill: #3b5998;
}

.pinterest:hover {
    fill: #cb2027;
}

.twitter:hover {
    fill: #1da1f2;
}
