.tooltipster-follower .tooltipster-box {
	background: #FFF;
	border: 1px solid lightgray;
	border-radius: 3px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-follower .tooltipster-content {
    color: #373737;
	padding: 20px;
}